:root {
    --font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

html, body {
    margin: 10px 20px;
}

body {
    font-family: var(--font-family);
}